<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/css/about.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75,100..900;1,75,100..900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/9d0eb086f2.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <div class="menu">
        <div class="div-logo">
          <img src="/assets/icons/logo.png" alt="" />
        </div>
        <ul>
          <li><a href="/index.html">Home</a></li>
          <li><a href="/views/about.html">About</a></li>
          <li><a href="/views/front-end.html">Front-end</a></li>
          <li><a href="/views/figma.html">Figma</a></li>
          <li><a href="/views/contact.html">Contact</a></li>
        </ul>
      </div>
    </header>
    <section id="about" class="about">
      <div class="about__left">
        <h1 class="about__title">Olá eu sou Thiago!</h1>
        <p class="about__text">
          Tenho 21 anos, Formado em Gestão em Tecnologia da Informação, tenho
          conhecimentos em HTML, CSS, JavaScript, Git e metodologias ágeis. Sou
          apaixonado por tecnologia e estou sempre em busca de novos desafios
          para aprimorar minhas habilidades e contribuir com projetos
          inovadores.
        </p>
        <div class="courses">
          <a href="#" target="_blank" title="HTML5" target="_blank">
            <i class="fa-brands fa-html5" style="color: #e34f26"></i>
          </a>
          <!-- HTML5: Vermelho alaranjado -->
          <a href="#" target="_blank" title="CSS3" target="_blank">
            <i class="fa-brands fa-css3-alt" style="color: #1572b6"></i>
          </a>
          <!-- CSS3: Azul -->
          <a href="#" target="_blank" title="JavaScript" target="_blank">
            <i class="fa-brands fa-square-js" style="color: #f7df1e"></i>
          </a>
          <!-- JavaScript: Amarelo -->
          <a href="#" target="_blank" title="Git" target="_blank">
            <i class="fa-brands fa-git-alt" style="color: #f05032"></i>
          </a>
          <!-- Git: Vermelho -->

          <a
            href="https://www.credly.com/badges/b171edcd-9e83-49fe-8beb-708554115286"
            target="_blank"
            ><img
              src="/assets/icons/introduction-to-cybersecurity (3).png"
              alt=""
              srcset=""
            />
          </a>
          <!-- Verde: Segurança/Proteção -->
        </div>
      </div>
      <div class="about__right">
        <img src="/assets/imagens/perfil.png" alt="" />
      </div>
    </section>

    <footer>
      <div class="footer__text">
        © Thiago Alexandre 2025 | Front-end developer
      </div>
      <div class="footer__icons">
        <a href="https://github.com/thiagokilu" target="_blank"
          ><i class="fa-brands fa-github"></i
        ></a>
        <a
          href="https://br.linkedin.com/in/thiago-alexandre-cavalcante"
          target="_blank"
          ><i class="fa-brands fa-linkedin"></i
        ></a>
        <a href="https://www.instagram.com/thiagokilu/" target="_blank"
          ><i class="fa-brands fa-instagram"></i
        ></a>
        <a href="https://www.youtube.com/@thiagokilu" target="_blank"
          ><i class="fa-brands fa-youtube"></i
        ></a>
      </div>
    </footer>
  </body>
</html>
