<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="css/contact.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75,100..900;1,75,100..900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/9d0eb086f2.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <div class="menu">
        <div class="div-logo">
          <img src="assets/icons/logo.png" alt="" />
        </div>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="views/about.html">About</a></li>
          <li><a href="views/front-end.html">Front-end</a></li>
          <li><a href="views/figma.html">Figma</a></li>
          <li><a href="views/contact.html">Contact</a></li>
        </ul>
      </div>
    </header>
    <main>
      <div class="contact">
        <div class="contact__left">
          <h2>Contact Us</h2>
          <img
            src="https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExZThzb2V2dGo2NWlnanRjMHNrZDlodnJubngyc2JrcDNuNDYyMnp1MCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/nDSlfqf0gn5g4/giphy.gif"
            alt=""
            srcset=""
          />
          <p>
            Se você tem um projeto em mente, precisa de ajuda com
            desenvolvimento front-end ou apenas quer bater um papo sobre ideias
            criativas, estou aqui para ajudar.
          </p>
        </div>
        <form action="" method="post">
          <input type="text" name="" id="input-name" placeholder="name" />
          <input type="email" name="" id="input-email" placeholder="E-mail" />
          <textarea
            name=""
            id="input-textarea"
            placeholder="Menssage"
          ></textarea>
          <input type="submit" value="Enviar" />
        </form>
      </div>
    </main>
    <footer>
      <div class="footer__text">
        © Thiago Alexandre 2025 | Front-end developer
      </div>
      <div class="footer__icons">
        <a href="https://github.com/thiagokilu" target="_blank"
          ><i class="fa-brands fa-github"></i
        ></a>
        <a
          href="https://br.linkedin.com/in/thiago-alexandre-cavalcante"
          target="_blank"
          ><i class="fa-brands fa-linkedin"></i
        ></a>
        <a href="https://www.instagram.com/thiagokilu/" target="_blank"
          ><i class="fa-brands fa-instagram"></i
        ></a>
        <a href="https://www.youtube.com/@thiagokilu" target="_blank"
          ><i class="fa-brands fa-youtube"></i
        ></a>
      </div>
    </footer>
  </body>
</html>
